<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>
<div>
  <%= link_to 'Back', company_path(@company) %> |
  <%= link_to 'Edit', edit_company_path(@company) %>
</div>

<br>

<h1>All Contacts</h1>
<div><%= link_to 'New Contact', new_company_contact_path(@company) %></div>

<br>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.full_name %></td>
        <td><%= contact.surname %></td>
        <td><%= link_to 'Show', company_contact_path(@company, contact) %></td>
        <td><%= link_to 'Relationships', company_contact_relationships_path(@company, contact) %></td>
        <td><%= link_to 'Edit', edit_company_contact_path(@company, contact) %></td>
        <td><%= link_to 'Destroy', company_contact_path(@company, contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
