<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @contact.surname %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company.name %>
</p>

<%= link_to 'Edit', edit_company_contact_path(@company, @contact) %> |
<%= link_to 'Back', company_contacts_path(@company) %>
