<p id="notice"><%= notice %></p>

<h1><%= @contact.full_name %></h1>
<h2>Company: <%= link_to @contact.company.name, company_path(@company) %></h2>
<div>
  <%= link_to 'Back', company_contacts_path(@company) %> |
  <%= link_to 'Edit', edit_company_contact_path(@company, @contact) %> |
  <%= link_to 'Add Relationship', new_company_contact_relationship_path(@company, @contact) %>
</div>
